# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#define path
path = r'/Users/gil/Documents/06-2023 Instacart Basket Analysis New'

# Import dataframe

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_merged_updated.pkl'))

# Exercise 2

In [4]:
#find the aggregated mean of the “order_number” column grouped by “department_id
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Exercise 3

### by using the entire dataframe, instead of just a subset, we can see all the departments, and therefore, the mean is different.

# Exercise 4

In [5]:
#Create a new, max_order column. Group ords_prods_merge by user_id. Apply transform() function to the “order_number” column with the np.max argument
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
#Create a loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
#Create a loyalty flag

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
#Create a loyalty flag
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

# Exercise 5

In [9]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### the min and max values are the same for all types of customers, and the mean is surprisingly the highest for new customers, and lowest for loyal customers

# Exercise 6

In [10]:
#Create a new, avg_price column. Group ords_prods_merge by user_id. Apply transform() function to the “prices” column with the np.max argument
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.max)

In [11]:
#Create a spending flag
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [12]:
#Create a spending flag
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [13]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,number_of_days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_time_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,195,...,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,14.0,High spender
1,2398795,1,2,3,7,15.0,196,1,1,195,...,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,14.0,High spender
2,473747,1,3,3,12,21.0,196,1,1,195,...,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,14.0,High spender
3,2254736,1,4,4,7,29.0,196,1,1,195,...,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,14.0,High spender
4,431534,1,5,4,15,28.0,196,1,1,195,...,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,14.0,High spender

In [14]:
#Create a new, median_prior_orders column. Group ords_prods_merge by user_id. Apply transform() function to the “number_of_days_since_prior_order” column with the np.max argument
ords_prods_merge['median_prior_orders'] = ords_prods_merge.groupby(['user_id'])['number_of_days_since_prior_order'].transform(np.max)

In [16]:
#Create order_frequency flag
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [15]:
#Create order_frequency flag
ords_prods_merge.loc[(ords_prods_merge['median_prior_orders'] > 10) & (ords_prods_merge['median_prior_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [19]:
#Create order_frequency flag
ords_prods_merge.loc[ords_prods_merge['median_prior_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

# Export dataframe

In [21]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_2.pkl'))